<h2>All Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Balance</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.phoneNumber %></td>
            <td><%= user.balance %></td>
            <td>
                <a href="/admin/users/edit/<%= user._id %>" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<%-include("../partials/custom-footer.ejs")%>
